modules = ["vue-node-20", "nodejs-20", "web"]
run = "node index.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node index.js"]

[workflows]
runButton = "Dev"

[[workflows.workflow]]
name = "Dev"
author = 41513702
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd diario-del-barbiere-vue && npm run dev"
